<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="well">
			<h2><%= @mealplan.name %> Meal Plan</h2>

			<% @mealplan.days.each do |day| %>
				<h4 class="underline"><%= day.name %>: </h4>

				<% day.recipes.each do |recipe| %>
					<p><%= link_to recipe.name, recipe %></p>
				<% end %>

			<% end %>

		</div>
	</div>
</div>