<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="well text-center">

      <h1>
      What's Cooking?
      </h1>
      <p>       </p>
      <h3>Welcome to our recipe and meal planning site!</h3>
      <h4><%= link_to "Browse recipes", all_path %></h4>
      <h4><%= link_to "Upload recipes", new_recipe_path %></h4>
      <h4>Create a library of recipes</h4>
      <h4>Create meal plans</h4>
    </div>
  </div>
</div>
