<h2 class="text-center">My Recipe Library</h2>
<div class="row">
	<% @mylibrary.recipes.order(:name).each do |recipe| %>
  <div class="col-md-6">
    <h4><%= link_to recipe.name, recipe_path(recipe.id) %>
      <%= link_to "Remove from My Recipes", remove_from_library_path(recipe_id: recipe.id), class: "btn btn-default" %>
    </h4>
  </div>
  <% end %>
</div>

	
